.traffic-lifgt {
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(209, 209, 209);
    width: 130px;
    height: 300px;

    display: flex; 
    align-items:center; 
    justify-content: center; 
    flex-direction: column;
}

.red-circle, .yellow-circle, .green-circle {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
}

.red-circle{
    background-color:#D90B1C;
}

.yellow-circle{
    background-color:#FFF447;
}

.green-circle {
    background-color: #309b7e;
}

