.traffic-lifgt {
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(209, 209, 209);
    width: 130px;
    height: 300px;
    position: static;
    display: flex; 
    align-items:center; 
    justify-content: center; 
    flex-direction: column;
}

.red-circle, .yellow-circle, .green-circle {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
    position: static;
}
.traffic-lifgt-2 {
    margin: 20px;
    border: 1px solid rgb(36, 28, 28);
    border-radius: 20px;
    background-color: rgb(209, 209, 209);
    width: 130px;
    height: 300px;
    display: flex; 
    align-items:center; 
    justify-content: center; 
    flex-direction: column;
    transform: translate(150px, -107%);
}
.red-circle-2, .yellow-circle-2, .green-circle-2 {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
    transform: translate(3px, -1%);
}
.red-circle, .red-circle-2{
    background-color:#D90B1C;
}

.yellow-circle, .yellow-circle-2{
    background-color:#FFF447;
}

.green-circle, .green-circle-2{
    background-color: #309b7e;
}

